{% extends 'accounts/main.html' %}

{% block content %}
<hr>
<div class='row'>
    <div class="col-md">
            <div class="card card-body">
                <h5> Customer: </h5>
                <a class="btn btn-outline-info btn-block" href="{% url 'update_customer' customer.pk %}" role="button">Update Customer</a>
                <a class="btn btn-outline-danger btn-block" href="#" role="button">Delete Customer</a>

            </div>
    
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5> Contact information:</h5>
            <hr>
            <p> Email: {{customer.email}} </p>
            <p> Phone: {{customer.phone}}</p>
        </div>

    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5> Total orders:</h5>
            <hr>
            <h1 style="text-align: center; padding: 10px">{{total_orders}}</h1>
        </div>

    </div>

</div>

<div class='row'>
    <div class="col-md">
            <div class="card card-body">
                <form method='get'>
                <a class="btn btn-primary" href="#" role="button">Search</a>
            </div>
    
    </div>
</div>


<div class='row'>
    <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
              
                    <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Date Ordered</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update</th>
                    <th scope="col">Remove</th>
                    </tr>

                    {% for order in customer_orders %}
                    <tr>
                    <td>{{ order.product.name }}</td>
                    <td>{{ order.product.category }}</td>
                    <td>{{ order.date_created }}</td>
                    <td>{{ order.status }}</td>
                    <td><a href="{% url 'update_order' order.pk %}" class="btn btn-outline-info btn-sm">Update</a></td>
                    <td><a href="{% url 'remove_order' order.pk %}" class="btn btn-outline-danger btn-sm">Remove</a></td>
                    </tr>
                    {% endfor %}
              
                </table>
            </div>
    
    </div>
</div>
{% endblock content %}
